<nav class="bg-success">
    <div class="container text-center">
            <button type="button" class="btn carrito fs-2" data-bs-toggle="modal" data-bs-target="#modalCarrito">
                <i class="fa-solid fa-cart-shopping py-3"></i>
            </button>
    </div>
</nav>
